<%- include('partials/header.ejs') %>
<body>
    <div class="container mt-5">
        <div class="container2">
            <h1 class="big-title">Blog Post Application</h1>
            <button type="submit" name="newpost" class="btn btn-success new-post" onclick="window.location.href='/add'" formmethod="get">New Post</button>
            <% if (locals.posts) { %>
                <% posts.forEach(post => { %>
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title"> <%= post.title %> </h5>
                        <p><%= post.date %></p>
                        <p class="card-text"> <%= post.content %></p>
                        <form action="/posts/edit" method="post" class="edit-form" style="display: inline; padding: 0; margin: 0">
                            <input type="hidden" name="id" value="<%= post.id %>">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                        <form action="/posts/delete" method="post" class="delete-form" style="display: inline; padding: 0; margin: 0">
                            <input type="hidden" name="id" value="<%= post.id %>">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <p class="mt-3">By: <%= post.author %></p>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
            <p>No Blog posts here...</p>
            <% } %>
        </div>
    </div>
    
    
</body>
</html>